body{

margin:0;
font-family:Arial;
background:#eef2f7;

}



/* Header */

header{

background:#2563eb;
color:white;
text-align:center;
padding:15px;
font-size:20px;
font-weight:bold;

}



/* Container */

.container{

max-width:900px;
margin:auto;
padding:15px;

}



/* Dashboard */

.dashboard{

display:flex;
gap:10px;
margin-bottom:15px;

}


.box{

flex:1;
background:white;
padding:15px;
text-align:center;
border-radius:10px;
box-shadow:0px 2px 6px #ccc;

}


.box h3{

margin:5px;
color:#2563eb;

}



/* Add Button */

.addBtn{

width:100%;
padding:14px;
margin-bottom:15px;

background:#16a34a;
color:white;

border:none;
border-radius:10px;

font-size:16px;

}



/* Card View */

.recordCard{

background:white;

padding:15px;

margin-bottom:12px;

border-radius:12px;

box-shadow:0px 2px 6px #ccc;

}



/* Card Text */

.recordTitle{

font-size:18px;
font-weight:bold;
margin-bottom:5px;

}


.recordText{

color:#444;
margin:3px 0;

}



/* Card Image */

.recordCard img{

width:100%;
margin-top:10px;
border-radius:8px;

}



/* Buttons */

.editBtn{

background:orange;
color:white;

border:none;

padding:8px;
margin-top:10px;

width:48%;

border-radius:6px;

}


.deleteBtn{

background:red;
color:white;

border:none;

padding:8px;
margin-top:10px;

width:48%;

border-radius:6px;

}



/* Mobile */

@media(max-width:600px){

.container{

padding:10px;

}

header{

font-size:18px;

}

}

/* Form Title */

.formTitle{

text-align:center;
margin-bottom:15px;

}


/* Inputs Clean Layout */

.card input,
.card textarea{

width:100%;

padding:14px;

margin-top:6px;
margin-bottom:12px;

border-radius:8px;
border:1px solid #ccc;

font-size:16px;

box-sizing:border-box;

}


/* Labels */

.card label{

font-weight:bold;

margin-top:10px;

display:block;

}


/* Textarea */

textarea{

height:90px;

}



/* Location Button */

.locationBtn{

background:#2563eb;

}



/* Save Button */

.saveBtn{

background:#16a34a;

}



/* Back Button */

.backBtn{

background:#dc2626;

}



/* Buttons */

.card button{

width:100%;

padding:14px;

margin-top:10px;

border:none;

border-radius:8px;

color:white;

font-size:16px;

}

.recordCard{

background:white;
padding:12px;
margin-bottom:10px;
border-radius:10px;
box-shadow:0px 2px 6px #ccc;
cursor:pointer;

}

.recordName{

font-weight:bold;
font-size:16px;

}

.recordSmall{

font-size:13px;
color:#555;
margin-top:3px;

}

/* Filter Box */

.filterBox{

background:white;
padding:10px;
margin-bottom:10px;
border-radius:10px;
box-shadow:0px 2px 6px #ccc;

}

.filterBox input{

width:100%;
padding:10px;
margin-top:5px;
margin-bottom:5px;

border-radius:6px;
border:1px solid #ccc;

}

.filterBox button{

background:#2563eb;
color:white;
border:none;
padding:10px;
border-radius:6px;
width:100%;

}